/* --- RAINBOW HEADINGS & HR --- */

/* Gradient Line Logic */
h1::after, h2::after, h3::after, h4::after, h5::after, h6::after, hr {
  background: linear-gradient(
    90deg,
    rgba(194, 24, 91, 0.8) 10%,
    rgba(137, 46, 127, 0.8) 0 20%,
    rgba(79, 67, 163, 0.8) 0 30%,
    rgba(34, 103, 163, 0.8) 0 40%,
    rgba(0, 151, 167, 0.8) 0 50%,
    rgba(82, 173, 90, 0.8) 0 60%,
    rgba(166, 172, 64, 0.8) 0 70%,
    rgba(249, 171, 37, 0.8) 0 80%,
    rgba(230, 109, 42, 0.8) 0 90%,
    rgba(211, 47, 47, 0.8) 0
  );
}

/* Center Alignment & Underline Structure */
h1, h2 {
  text-align: center;
}

h1::after, h2::after, h3::after, h4::after, h5::after, h6::after {
  margin-top: 0.5rem;
  content: "";
  width: auto;
  display: block;
  height: 3px;
  border-radius: 10px;
}

/* Horizontal Rule (HR) Style */
hr {
  margin: 4em 0;
  border: none;
  height: 4px;
  border-radius: 3px;
  position: relative;
}

/* Star Icon di tengah HR */
hr::after {
  content: "★";
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.7em;
  font-size: 14px;
  color: var(--secondary);
  padding: 0 0.5em;
  background-color: var(--light); /* Warna background halaman */
}
